[*.cs]

# IDE1006: Adlandırma Stilleri
dotnet_diagnostic.IDE1006.severity = none

# IDE0040: Erişilebilirlik değiştiricileri Ekle
dotnet_style_require_accessibility_modifiers = never

# IDE0044: Salt okunur değiştirici ekle
dotnet_diagnostic.IDE0044.severity = none

# CS0162: Ulaşılamayan kod algılandı
dotnet_diagnostic.CS0162.severity = silent
