<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vtys.Properties.Settings.ProjeYonetimVeriTabaniConnectionString"
            connectionString="Data Source=UNIQUEA-PC\SQLEXPRESS;Initial Catalog=ProjeYonetimVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vtys.Properties.Settings.ProjectTrackerConnectionString"
            connectionString="Data Source=UNIQUEA-PC\SQLEXPRESS;Initial Catalog=ProjectTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>